In [10]:
import pandas as pd
import os

In [28]:
hypotheses = pd.read_csv("hypotheses.tsv", dtype=str, sep="\t").set_index(["hypothesis"], drop=False)
#hypotheses.index = hypotheses.index.set_levels( [i.astype(str) for i in hypotheses.index.levels])  # enforce str in index
hypotheses

,hypothesis,name,expanded_in,compared_to
hypothesis,,,,
1,1,Expanded in Arabidopsis compared to Monocots,Arabidopsis_thaliana,Zea_mays;Hordeum_vulgare
2,2,Expanded in barley compared to maize,Hordeum_vulgare,Zea_mays

In [53]:
HYPOTHESES = hypotheses.index.tolist()
N_HYPOTHESES = len(HYPOTHESES)
N_HYPOTHESES

2

In [59]:
HYPOTHESES

['1', '2']

In [60]:
hypotheses.index[]

/gpfs/scratch/cb/stoecker/miniconda3/lib/python3.7/site-packages/pandas/core/indexes/base.py:4291: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [31]:
hypotheses.loc[ '1', 'expanded_in']

'Arabidopsis_thaliana'

In [35]:
str.split(hypotheses.loc[ '1', 'compared_to'], ";")

['Zea_mays', 'Hordeum_vulgare']

In [68]:
def get_hypo_name(hypothesis_index):
    """Get compared_to entries from hypotheses(.tsv) for each hypothesis. """
    name = hypotheses.loc[ (hypothesis_index), 'name']
    return name
get_hypo_name(HYPOTHESES)

hypothesis
1    Expanded in Arabidopsis compared to Monocots
2            Expanded in barley compared to maize
Name: name, dtype: object

In [65]:
def get_exp_species(hypothesis_index):
    """Get compared_to entries from hypotheses(.tsv) for each hypothesis. """
    exps = hypotheses.loc[ (hypothesis_index), 'expanded_in']
    return exps
get_exp_species(HYPOTHESES)

hypothesis
1    Arabidopsis_thaliana
2         Hordeum_vulgare
Name: expanded_in, dtype: object

In [66]:
def get_com_species(hypothesis_index):
    """Get compared_to entries from hypotheses(.tsv) for each hypothesis. """
    ct = str.split(hypotheses.loc[ '1', 'compared_to'], ";")
    return ct
get_com_species(HYPOTHESES)

['Zea_mays', 'Hordeum_vulgare']

In [139]:
pd.DataFrame(hypotheses[["hypothesis", "name", "expanded_in", "compared_to"]])

,hypothesis,name,expanded_in,compared_to
hypothesis,,,,
1,1,Expanded in Arabidopsis compared to Monocots,Arabidopsis_thaliana,Zea_mays;Hordeum_vulgare
2,2,Expanded in barley compared to maize,Hordeum_vulgare,Zea_mays

In [140]:
pd.DataFrame(hypotheses[["name", "expanded_in", "compared_to"]])

,name,expanded_in,compared_to
hypothesis,,,
1,Expanded in Arabidopsis compared to Monocots,Arabidopsis_thaliana,Zea_mays;Hordeum_vulgare
2,Expanded in barley compared to maize,Hordeum_vulgare,Zea_mays

In [141]:
hypotheses[["name", "expanded_in", "compared_to"]].loc[['1']]

,name,expanded_in,compared_to
hypothesis,,,
1,Expanded in Arabidopsis compared to Monocots,Arabidopsis_thaliana,Zea_mays;Hordeum_vulgare

In [164]:
def get_ind_hypothesis(hypothesis_num):
    """Get individual hypotheses as a one-row pandas dataframe. """
    ih = hypotheses.loc[hypothesis_num]
    return ih
get_ind_hypothesis(a)

,hypothesis,name,expanded_in,compared_to
hypothesis,,,,
1,1,Expanded in Arabidopsis compared to Monocots,Arabidopsis_thaliana,Zea_mays;Hordeum_vulgare
2,2,Expanded in barley compared to maize,Hordeum_vulgare,Zea_mays