In [1]:
import pandas as pd
import os

In [39]:
hypotheses = pd.read_csv("../config/hypotheses.tsv", dtype=str, sep="\t").set_index(["hypothesis"], drop=False)
hypotheses

,hypothesis,1,2,3,4,5
hypothesis,,,,,,
name,name,Expanded in Arabidopsis compared to Monocots,Expanded in barley compared to maize,bla,bla2,bla3
expanded_in,expanded_in,Arabidopsis_thaliana,Hordeum_vulgare,Zea_mays,Hordeum_vulgare;Zea_mays,Hordeum_vulgare;Zea_mays
compared_to,compared_to,Zea_mays;Hordeum_vulgare,Zea_mays,Hordeum_vulgare;Arabidopsis_thaliana,Arabidopsis_thaliana,Hordeum_vulgare;Arabidopsis_thaliana
Nmin_expanded_in,Nmin_expanded_in,1,1,1,2,1
Nmin_compared_to,Nmin_compared_to,2,1,1,1,1
min_expansion_factor,min_expansion_factor,2,2,3,2,2
expanded_in_all_found,expanded_in_all_found,YES,NO,YES,NO,NO
compared_to_all_found,compared_to_all_found,YES,NO,YES,NO,NO

In [40]:
hypotheses.columns.tolist()[1:]

['1', '2', '3', '4', '5']

In [41]:
N_HYPOTHESES = len(hypotheses.columns) - 1
N_HYPOTHESES

5

In [27]:
type(str(int(1)))

str

In [3]:
hypotheses = pd.read_csv("../config/hypotheses.tsv", dtype=str, sep="\t").set_index(["hypothesis"], drop=False)
#hypotheses.index = hypotheses.index.set_levels( [i.astype(str) for i in hypotheses.index.levels])  # enforce str in index
hypotheses

,hypothesis,name,expanded_in,compared_to,Nmin_expanded_in,Nmin_compared_to,min_expansion_factor,expanded_in_all_found,compared_to_all_found
hypothesis,,,,,,,,,
1,1,Expanded in Arabidopsis compared to Monocots,Arabidopsis_thaliana,Zea_mays;Hordeum_vulgare,1,2,2,YES,YES
2,2,Expanded in barley compared to maize,Hordeum_vulgare,Zea_mays,1,1,2,NO,NO

In [4]:
HYPOTHESES = hypotheses.index.tolist()
N_HYPOTHESES = len(HYPOTHESES)
N_HYPOTHESES

2

In [5]:
type(HYPOTHESES)

list

In [34]:
hypotheses.index[]

SyntaxError: invalid syntax (337400913.py, line 1)

In [37]:
hypotheses.loc[ 'expanded_in', '1']

'Arabidopsis_thaliana'

In [35]:
str.split(hypotheses.loc[ '1', 'compared_to'], ";")

['Zea_mays', 'Hordeum_vulgare']

In [4]:
def get_hypo_num(hypothesis_index):
    """Get compared_to entries from hypotheses(.tsv) for each hypothesis. """
    num = hypotheses.loc[ (hypothesis_index), 'hypothesis']
    return num
get_hypo_num(HYPOTHESES)

hypothesis
1    1
2    2
Name: hypothesis, dtype: object

In [68]:
def get_hypo_name(hypothesis_index):
    """Get compared_to entries from hypotheses(.tsv) for each hypothesis. """
    name = hypotheses.loc[ (hypothesis_index), 'name']
    return name
get_hypo_name(HYPOTHESES)

hypothesis
1    Expanded in Arabidopsis compared to Monocots
2            Expanded in barley compared to maize
Name: name, dtype: object

In [65]:
def get_exp_species(hypothesis_index):
    """Get compared_to entries from hypotheses(.tsv) for each hypothesis. """
    exps = hypotheses.loc[ (hypothesis_index), 'expanded_in']
    return exps
get_exp_species(HYPOTHESES)

hypothesis
1    Arabidopsis_thaliana
2         Hordeum_vulgare
Name: expanded_in, dtype: object

In [46]:
#if more than one species is compared to than we have to split the string based on ";"
def get_com_species(hypothesis_index):
    """Get compared_to entries from hypotheses(.tsv) for each hypothesis. """
    ct_1 = hypotheses.loc[ (hypothesis_index), 'compared_to']
    if ct_1.count(";") > 0:
        ct_2 = str.split(ct_1, ";")
        return ct_2
    else:
        return ct_1
    return
get_com_species(HYPOTHESES)

#    print(ct_1[1].count(";"))
#    ct_2 = str.split(ct_1[2], ";")
#    if ct_1
#    print(str1.count("India"))

KeyError: 'Requested level (;) does not match index name (hypothesis)'

In [48]:
type(HYPOTHESES)

list

In [36]:
ct_1 = hypotheses.loc[ HYPOTHESES, 'compared_to']
#ct_1
if ct_1[0].count(";") > 0:
    print("ok")
else:
    print("no")

ok

In [139]:
pd.DataFrame(hypotheses[["hypothesis", "name", "expanded_in", "compared_to"]])

,hypothesis,name,expanded_in,compared_to
hypothesis,,,,
1,1,Expanded in Arabidopsis compared to Monocots,Arabidopsis_thaliana,Zea_mays;Hordeum_vulgare
2,2,Expanded in barley compared to maize,Hordeum_vulgare,Zea_mays

In [140]:
pd.DataFrame(hypotheses[["name", "expanded_in", "compared_to"]])

,name,expanded_in,compared_to
hypothesis,,,
1,Expanded in Arabidopsis compared to Monocots,Arabidopsis_thaliana,Zea_mays;Hordeum_vulgare
2,Expanded in barley compared to maize,Hordeum_vulgare,Zea_mays

In [141]:
hypotheses[["name", "expanded_in", "compared_to"]].loc[['1']]

,name,expanded_in,compared_to
hypothesis,,,
1,Expanded in Arabidopsis compared to Monocots,Arabidopsis_thaliana,Zea_mays;Hordeum_vulgare

In [164]:
def get_ind_hypothesis(hypothesis_num):
    """Get individual hypotheses as a one-row pandas dataframe. """
    ih = hypotheses.loc[hypothesis_num]
    return ih
get_ind_hypothesis(a)

,hypothesis,name,expanded_in,compared_to
hypothesis,,,,
1,1,Expanded in Arabidopsis compared to Monocots,Arabidopsis_thaliana,Zea_mays;Hordeum_vulgare
2,2,Expanded in barley compared to maize,Hordeum_vulgare,Zea_mays

In [111]:
# preparing hypothesis fasta files
path_prefix = 'FS/longest_isoforms/'
suffix = '.fa'

exp = hypotheses.loc['expanded_in' , '1']
ct = hypotheses.loc['compared_to' , '1']

# split by ";", if no ";" then transform string to single-element list (so concatenation works)
if exp.count(";") > 0:
    exp = str.split(exp, ";")
else:
    exp = [exp]
if ct.count(";") > 0:
    ct = str.split(ct, ";")
else:
    ct = [ct]

output = exp + ct   
    
    
# last step: removing duplicate entries
# https://www.w3schools.com/python/python_howto_remove_duplicates.asp
output = list( dict.fromkeys(output) ) 

output = [path_prefix + x + suffix for x in output]

output

['FS/longest_isoforms/Arabidopsis_thaliana.fa',
 'FS/longest_isoforms/Zea_mays.fa',
 'FS/longest_isoforms/Hordeum_vulgare.fa']