In [114]:
library(readr)
library(dplyr)
library(tibble)
library(tidyr)
library(stringr)
library(ape)

In [138]:
read_delim("../config/hypotheses.tsv", 
           delim = "\t",
           col_names = TRUE
           ) %>% #tibble::rownames_to_column() #%>%  
   pivot_longer(-hypothesis) #%>% 
#   pivot_wider(names_from=hypothesis, values_from=value, names_repair = "unique")

── Column specification ──────────────────────────────────────────────────────────────────────────
cols(
  hypothesis = col_character(),
  `1` = col_character(),
  `2` = col_character(),
  `3` = col_character(),
  `4` = col_character()
)

   hypothesis            name value
1  name                  1    Expanded in Arabidopsis compared to Monocots
2  name                  2    Expanded in barley compared to maize
3  name                  3    bla
4  name                  4    bla2
5  expanded_in           1    Arabidopsis_thaliana
6  expanded_in           2    Hordeum_vulgare
7  expanded_in           3    Zea_mays
8  expanded_in           4    Hordeum_vulgare;Zea_mays
9  compared_to           1    Zea_mays;Hordeum_vulgare
10 compared_to           2    Zea_mays
11 compared_to           3    Hordeum_vulgare;Arabidopsis_thaliana
12 compared_to           4    Arabidopsis_thaliana
13 Nmin_expanded_in      1    1
14 Nmin_expanded_in      2    1
15 Nmin_expanded_in      3    1
16 Nmin_expanded_in      4    2
17 Nmin_compared_to      1    2
18 Nmin_compared_to      2    1
19 Nmin_compared_to      3    1
20 Nmin_compared_to      4    1
21 min_expansion_factor  1    2
22 min_expansion_factor  2    2
23 min_expansion_factor  3    3
24 min_expansion_factor  4    2
25 expanded_in_all_found 1    YES
26 expanded_in_all_found 2    NO
27 expanded_in_all_found 3    YES
28 expanded_in_all_found 4    YES
29 compared_to_all_found 1    YES
30 compared_to_all_found 2    NO
31 compared_to_all_found 3    YES
32 compared_to_all_found 4    YES

In [160]:
# read-in hypothesis object
# we transpose the table since the following code was written for the old layout of hypotheses.tsv
hypotheses <- as.data.frame( 
                t(
                  read.table("../config/hypotheses.tsv", 
                             header = FALSE,
                             sep = "\t",
                             row.names = NULL
                             )
                )              
              )

# first line as header/column names
names(hypotheses) <- hypotheses[1,]
# delete first line
hypotheses <- hypotheses[-1,]
# removal of row.names/numbering
row.names(hypotheses) <- NULL
# correct types
hypotheses$hypothesis <- as.numeric(hypotheses$hypothesis) 
hypotheses$Nmin_expanded_in <- as.numeric(hypotheses$hypothesis)
hypotheses$Nmin_compared_to <- as.numeric(hypotheses$hypothesis)
hypotheses$min_expansion_factor <- as.numeric(hypotheses$hypothesis)

hypotheses

  hypothesis name
1 1          Expanded in Arabidopsis compared to Monocots
2 2          Expanded in barley compared to maize
3 3          bla
4 4          bla2
  expanded_in              compared_to
1 Arabidopsis_thaliana     Zea_mays;Hordeum_vulgare
2 Hordeum_vulgare          Zea_mays
3 Zea_mays                 Hordeum_vulgare;Arabidopsis_thaliana
4 Hordeum_vulgare;Zea_mays Arabidopsis_thaliana
  Nmin_expanded_in Nmin_compared_to min_expansion_factor expanded_in_all_found
1 1                1                1                    YES
2 2                2                2                    NO
3 3                3                3                    YES
4 4                4                4                    YES
  compared_to_all_found
1 YES
2 NO
3 YES
4 YES

In [26]:
?read.delim

In [141]:
colnames(hypotheses)[-1]

[1] "name"                  "expanded_in"           "compared_to"
[4] "Nmin_expanded_in"      "Nmin_compared_to"      "min_expansion_factor"
[7] "expanded_in_all_found" "compared_to_all_found"

In [51]:
hypotheses["1"]

ERROR: Error in `[.data.frame`(hypotheses, "1"): undefined columns selected

In [96]:
# read-in hypothesis object
hypotheses <- read_delim("../config/hypotheses_old.tsv", delim = "\t")
hypotheses$expanded_in[1]
hypotheses$expanded_in[2]
hypotheses$expanded_in[3]
hypotheses$expanded_in[4]
hypotheses$expanded_in[3]

── Column specification ──────────────────────────────────────────────────────────────────────────
cols(
  hypothesis = col_double(),
  name = col_character(),
  expanded_in = col_character(),
  compared_to = col_character(),
  Nmin_expanded_in = col_double(),
  Nmin_compared_to = col_double(),
  min_expansion_factor = col_double(),
  expanded_in_all_found = col_character(),
  compared_to_all_found = col_character()
)

[1] "Arabidopsis_thaliana"

[1] "Hordeum_vulgare"

[1] "Zea_mays"

[1] NA

[1] "Zea_mays"

In [157]:
str_split(hypotheses$expanded_in[as.character(1)], ";")

[[1]]
[1] NA

In [161]:
for (hypothesis in hypotheses$hypothesis) {
  print(hypothesis)
  print(str_split(hypotheses$expanded_in[hypothesis], ";"))
}

[1] 1
[[1]]
[1] "Arabidopsis_thaliana"

[1] 2
[[1]]
[1] "Hordeum_vulgare"

[1] 3
[[1]]
[1] "Zea_mays"

[1] 4
[[1]]
[1] "Hordeum_vulgare" "Zea_mays"

In [98]:
hypotheses

  hypothesis name                                         expanded_in
1 1          Expanded in Arabidopsis compared to Monocots Arabidopsis_thaliana
2 2          Expanded in barley compared to maize         Hordeum_vulgare
3 3          bla                                          Zea_mays
  compared_to                          Nmin_expanded_in Nmin_compared_to
1 Zea_mays;Hordeum_vulgare             1                2
2 Zea_mays                             1                1
3 Hordeum_vulgare;Arabidopsis_thaliana 1                1
  min_expansion_factor expanded_in_all_found compared_to_all_found
1 2                    YES                   YES
2 2                    NO                    NO
3 3                    YES                   YES

In [11]:
# loop through hypotheses
for (hypothesis in hypotheses$hypothesis) {

# assign or subset the orthofinder species_tree based on the current hypothesis
speciesTree <- ape::keep.tip(read.tree("../orthofinder/final-results/Species_Tree/SpeciesTree_rooted_node_labels.txt"), 
                                 c(unlist(str_split(hypotheses$expanded_in[hypothesis], ";")), 
                                   unlist(str_split(hypotheses$compared_to[hypothesis], ";"))))

# create directories (handled by snakemake)
#dir.create(paste("orthofinder/final-results/Species_Tree/", "hypothesis_specific/", hypothesis, "/", sep = ""))
    
write.tree(speciesTree, 
           file = paste0("orthofinder/final-results/Species_Tree/", "hypothesis_specific/", hypothesis,
                         "/SpeciesTree_rooted_node_labels.txt"), 
           append = FALSE, 
           tree.names = FALSE)
}

Warning message in dir.create(paste("orthofinder/final-results/Species_Tree/", "hypothesis_specific/", :
“cannot create dir 'orthofinder/final-results/Species_Tree/hypothesis_specific/1', reason 'No such file or directory'”
Warning message in file(file, ifelse(append, "a", "w")):
“cannot open file 'orthofinder/final-results/Species_Tree/hypothesis_specific/1/SpeciesTree_rooted_node_labels.txt': No such file or directory”

ERROR: Error in file(file, ifelse(append, "a", "w")): cannot open the connection

In [9]:
getwd()

[1] "/scratch2/cropbio/stoecker/A2TEA-pipeline/a2tea"