## Quick demo on how to use the `A2TEA_finished.RData` output

- currently, the fastest way to execute the pipeline is to build a conda environment with ALL software included 
- using more fine-grained individual yaml files (--use-conda option) for rules/sets of rules leads to  sequential run (takes much longer) in the checkpoints steps for some reason...
- therefore for now: building big environment with -> workflow/envs/complete_environment.yaml
  
e.g.:  
`mamba env create --name A2TEA --file workflow/envs/complete_environment.yaml`  
activate this environment; then run A2TEA with:  
`snakemake --cores xx`

**the final output of A2TEA is found under `tea/A2TEA_finished.RData`**

### 2.) working with A2TEA output for the moment..

#### 2.1 - load libraries - define three classes
-> important for your R instance to understand my new custom data structs

In [2]:
library(DESeq2)
library(tidyverse)
library(ggtree)
library(ggtreeExtra)
library(Biostrings)
library(seqinr)
library(UpSetR)
library(cowplot)
library(ggplotify)

In [3]:
# class for the expanded_OG - containing all different types of data we have on it
setClass("expanded_OG", slots=list(genes="spec_tbl_df",
                                   blast_table="tbl_df",
                                   nrow_table="numeric",
                                   num_genes_HOG="numeric",
                                   num_genes_extend="numeric",
                                   num_genes_complete="numeric",
                                   genes_HOG="tbl_df",
                                   genes_extend_hits="tbl_df",
                                   fasta_files="list",
                                   msa="AAStringSet",
                                   tree="phylo"))

# class for the hypotheses
setClass("hypothesis",
         slots=list(description="character",
                                  number="character",
                                  expanded_in ="character",
                                  compared_to="character",
                                  expanded_OGs="list",
                                  species_tree="phylo"))

# class for extended BLAST hits info
setClass("extended_BLAST_hits",
         slots=list(blast_table="tbl_df",
                    num_genes_HOG="numeric",
                    num_genes_extend="numeric",
                    num_genes_complete="numeric",
                    genes_HOG="tbl_df",
                    genes_extend_hits="tbl_df")
         )

#### 2.2 - read-in the A2TEA output .RData file

In [4]:
load("../tea/A2TEA_finished.RData")

#### 2.3 - currently included: 4 files

- `hypotheses`     
- `HYPOTHESES.a2tea`
- `HOG_DE.a2tea`
- `HOG_level_list`

In [5]:
hypotheses

  hypothesis name
1 1          Expanded in Arabidopsis compared to Monocots
2 2          Expanded in barley compared to maize
3 3          bla
4 4          bla2
5 5          bla3
  expanded_in              compared_to
1 Arabidopsis_thaliana     Zea_mays;Hordeum_vulgare
2 Hordeum_vulgare          Zea_mays
3 Zea_mays                 Hordeum_vulgare;Arabidopsis_thaliana
4 Hordeum_vulgare;Zea_mays Arabidopsis_thaliana
5 Hordeum_vulgare;Zea_mays Hordeum_vulgare;Arabidopsis_thaliana
  Nmin_expanded_in Nmin_compared_to min_expansion_factor expanded_in_all_found
1 1                1                1                    YES
2 2                2                2                    NO
3 3                3                3                    YES
4 4                4                4                    NO
5 5                5                5                    NO
  compared_to_all_found
1 YES
2 NO
3 YES
4 NO
5 NO

In [6]:
summary(HYPOTHESES.a2tea)
HYPOTHESES.a2tea$hypothesis_1@description
HYPOTHESES.a2tea$hypothesis_1@number
HYPOTHESES.a2tea$hypothesis_1@expanded_in
HYPOTHESES.a2tea$hypothesis_1@compared_to
HYPOTHESES.a2tea$hypothesis_1@species_tree

#HYPOTHESES.a2tea$hypothesis_1@expanded_OGs$N0.HOG0000205@genes
#HYPOTHESES.a2tea$hypothesis_1@expanded_OGs$N0.HOG0000205@blast_table
## ? HYPOTHESES.a2tea$hypothesis_1@expanded_OGs$N0.HOG0000308@nrow_table
#HYPOTHESES.a2tea$hypothesis_1@expanded_OGs$N0.HOG0000205@num_genes_HOG
#HYPOTHESES.a2tea$hypothesis_1@expanded_OGs$N0.HOG0000205@num_genes_extend
#HYPOTHESES.a2tea$hypothesis_1@expanded_OGs$N0.HOG0000205@num_genes_complete
#HYPOTHESES.a2tea$hypothesis_1@expanded_OGs$N0.HOG0000205@genes_HOG
#HYPOTHESES.a2tea$hypothesis_1@expanded_OGs$N0.HOG0000205@genes_extend_hits
#HYPOTHESES.a2tea$hypothesis_1@expanded_OGs$N0.HOG0000205@fasta_files
#HYPOTHESES.a2tea$hypothesis_1@expanded_OGs$N0.HOG0000205@msa
#HYPOTHESES.a2tea$hypothesis_1@expanded_OGs$N0.HOG0000205@tree

             Length Class      Mode
hypothesis_1 1      hypothesis S4
hypothesis_2 1      hypothesis S4
hypothesis_3 1      hypothesis S4
hypothesis_4 1      hypothesis S4
hypothesis_5 1      hypothesis S4

[1] "Expanded in Arabidopsis compared to Monocots"

[1] "1"

[1] "Arabidopsis_thaliana"

[1] "Zea_mays"        "Hordeum_vulgare"

Phylogenetic tree with 3 tips and 2 internal nodes.

Tip labels:
  Arabidopsis_thaliana, Zea_mays, Hordeum_vulgare
Node labels:
  N0, N1

Rooted; includes branch lengths.

In [7]:
str(HOG_DE.a2tea)
head(HOG_DE.a2tea)

'data.frame':	16563 obs. of  10 variables:
 $ species       : chr  "Arabidopsis_thaliana" "Arabidopsis_thaliana" "Arabidopsis_thaliana" "Arabidopsis_thaliana" ...
 $ gene          : chr  "AT2G01008" "AT2G01021" "AT2G01023" "AT2G01035" ...
 $ baseMean      : num  89.447 6293.989 2.508 0.775 0.775 ...
 $ log2FoldChange: num  1.192 0.572 0.211 3.027 3.027 ...
 $ lfcSE         : num  1.37 1.46 1.04 1.92 1.92 ...
 $ stat          : num  0.868 0.392 0.203 1.574 1.574 ...
 $ pvalue        : num  0.386 0.695 0.839 0.115 0.115 ...
 $ padj          : num  1 1 1 1 1 ...
 $ significant   : chr  "no" "no" "no" "no" ...
 $ HOG           : chr  "singleton" "singleton" "singleton" "N0.HOG0002018" ...

  species              gene      baseMean     log2FoldChange lfcSE    stat
1 Arabidopsis_thaliana AT2G01008   89.4474691 1.1915003      1.373181 0.8676935
2 Arabidopsis_thaliana AT2G01021 6293.9891129 0.5717520      1.458286 0.3920712
3 Arabidopsis_thaliana AT2G01023    2.5075116 0.2107723      1.039870 0.2026911
4 Arabidopsis_thaliana AT2G01035    0.7753592 3.0265125      1.922346 1.5743852
5 Arabidopsis_thaliana AT2G01045    0.7753592 3.0265125      1.922346 1.5743852
6 Arabidopsis_thaliana AT2G01050    0.0000000        NA            NA        NA
  pvalue    padj     significant HOG
1 0.3855622 0.999832 no          singleton
2 0.6950056 0.999832 no          singleton
3 0.8393765 0.999832 no          singleton
4 0.1153984 0.999832 no          N0.HOG0002018
5 0.1153984 0.999832 no          N0.HOG0002018
6        NA       NA no          N0.HOG0001718

In [22]:
str(HOG_level_list)
head(HOG_level_list$hypothesis_1)
head(HOG_level_list$hypothesis_2)

List of 2
 $ hypothesis_1: tibble [20,913 × 11] (S3: tbl_df/tbl/data.frame)
  ..$ HOG                       : chr [1:20913] "N0.HOG0000236" "N0.HOG0000865" "N0.HOG0000887" "N0.HOG0000914" ...
  ..$ tea_value                 : num [1:20913] 0.0706 0.075 0.075 0.075 0.075 ...
  ..$ cafe_pvalue               : num [1:20913] 0.001 0.181 0.181 0.181 0.181 0.019 0.062 0.062 0.062 0.062 ...
  ..$ Arabidopsis_thaliana_total: num [1:20913] 12 6 6 6 6 10 6 6 6 6 ...
  ..$ Zea_mays_total            : num [1:20913] 1 2 2 2 2 3 2 2 1 2 ...
  ..$ Hordeum_vulgare_total     : num [1:20913] 4 2 2 2 2 2 1 1 2 1 ...
  ..$ expansion                 : chr [1:20913] "yes" "yes" "yes" "yes" ...
  ..$ Arabidopsis_thaliana_sigDE: num [1:20913] NA NA NA NA NA NA NA NA NA NA ...
  ..$ Hordeum_vulgare_sigDE     : num [1:20913] 1 2 NA 1 NA 1 NA 1 1 1 ...
  ..$ Zea_mays_sigDE            : num [1:20913] NA NA NA NA 2 1 NA NA NA NA ...
  ..$ total_sigDE               : num [1:20913] 1 2 NA 1 2 2 NA 1 1 1 ...
 $ hypothesis_2: tibble [20,913 × 10] (S3: tbl_df/tbl/data.frame)
  ..$ HOG                       : chr [1:20913] "N0.HOG0000047" "N0.HOG0000063" "N0.HOG0000044" "N0.HOG0000049" ...
  ..$ tea_value                 : num [1:20913] 0.000903 0.002252 0.002353 0.002507 0.003348 ...
  ..$ cafe_pvalue               : num [1:20913] 0 0 0 0 0.01 0 0 0.002 0 0 ...
  ..$ Hordeum_vulgare_total     : num [1:20913] 31 35 41 37 12 31 33 10 17 29 ...
  ..$ Zea_mays_total            : num [1:20913] 8 2 3 4 4 3 1 2 3 4 ...
  ..$ expansion                 : chr [1:20913] "yes" "yes" "yes" "yes" ...
  ..$ Arabidopsis_thaliana_sigDE: num [1:20913] NA NA NA NA NA NA NA NA NA NA ...
  ..$ Hordeum_vulgare_sigDE     : num [1:20913] 10 14 11 9 7 9 14 9 7 6 ...
  ..$ Zea_mays_sigDE            : num [1:20913] NA NA NA NA NA NA NA NA NA NA ...
  ..$ total_sigDE               : num [1:20913] 10 14 11 9 7 9 14 9 7 6 ...

  HOG           tea_value  cafe_pvalue Arabidopsis_thaliana_total
1 N0.HOG0000236 0.07058824 0.001       12
2 N0.HOG0000865 0.07500000 0.181        6
3 N0.HOG0000887 0.07500000 0.181        6
4 N0.HOG0000914 0.07500000 0.181        6
5 N0.HOG0000951 0.07500000 0.181        6
6 N0.HOG0000317 0.08888889 0.019       10
  Zea_mays_total Hordeum_vulgare_total expansion Arabidopsis_thaliana_sigDE
1 1              4                     yes       NA
2 2              2                     yes       NA
3 2              2                     yes       NA
4 2              2                     yes       NA
5 2              2                     yes       NA
6 3              2                     yes       NA
  Hordeum_vulgare_sigDE Zea_mays_sigDE total_sigDE
1  1                    NA              1
2  2                    NA              2
3 NA                    NA             NA
4  1                    NA              1
5 NA                     2              2
6  1                     1              2

  HOG           tea_value    cafe_pvalue Hordeum_vulgare_total Zea_mays_total
1 N0.HOG0000047 0.0009032634 0.00        31                    8
2 N0.HOG0000063 0.0022522523 0.00        35                    2
3 N0.HOG0000044 0.0023530762 0.00        41                    3
4 N0.HOG0000049 0.0025067751 0.00        37                    4
5 N0.HOG0000296 0.0033482143 0.01        12                    4
6 N0.HOG0000075 0.0033769063 0.00        31                    3
  expansion Arabidopsis_thaliana_sigDE Hordeum_vulgare_sigDE Zea_mays_sigDE
1 yes       NA                         10                    NA
2 yes       NA                         14                    NA
3 yes       NA                         11                    NA
4 yes       NA                          9                    NA
5 yes       NA                          7                    NA
6 yes       NA                          9                    NA
  total_sigDE
1 10
2 14
3 11
4  9
5  7
6  9

In [22]:
head(HOG_level_list$hypothesis_1)

  HOG           tea_value cafe_pvalue Arabidopsis_thaliana_total Zea_mays_total
1 N0.HOG0000012 Inf       0.435        3                         1
2 N0.HOG0000025 Inf       0.000       13                         1
3 N0.HOG0000031 Inf       0.242        4                         1
4 N0.HOG0000033 Inf       0.863        2                         1
5 N0.HOG0000039 Inf       0.070        8                         2
6 N0.HOG0000040 Inf       0.004       10                         1
  Hordeum_vulgare_total expansion Hordeum_vulgare_sigDE Zea_mays_sigDE
1 1                     yes       NA                    NA
2 1                     yes        1                    NA
3 1                     yes       NA                    NA
4 1                     yes        1                    NA
5 3                     yes       NA                    NA
6 2                     yes       NA                    NA
  total_sigDE
1 NA
2  1
3 NA
4  1
5 NA
6 NA

In [18]:
HYPOTHESES.a2tea$hypothesis_2@expanded_OGs$N0.HOG0000814@

[1] "2"